
html{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #EE803D;
}

h1{
	color:white;
}

h2{
	color:white;
}

a{
    color: white;
}

a:hover{
    color: whitesmoke;
}

.lead{
	color:white;
}

.navbar-nav a {
    color: white;

}

.border-top{
    padding-top: 50px;
    padding-bottom: 25px;;
}

.navbar {
    background-color: white;
	color: white;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: middle;
}

.navbar-light .navbar-brand{
    color: #EE803D;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link{
    color: #EE803D;
    padding-left: 25px;
    padding-right: 25px;

}



.container {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.col-12 {
	margin-top: 50px;
	padding: 0px;

}

#social{
margin-top: 100px;
}

.border-top {
    border-top: 0px!important;
}

.btn {
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
	border-radius: 50rem;
	border-color: white;
	background-color: white;
	color: #EE803D;
}

.btn:hover {
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
	border-radius: 50rem;
	border-color: #E69D70;
	background-color: #E69D70;
	color: white;
}

.btn-outline-primary{
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
	border-radius: 50rem;
	border-color: white;
	color: white;
	background-color: #EE803D;
}

.btn-outline-primary:hover{
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
	border-radius: 50rem;
	border-color: #E69D70;
    background-color: #E69D70;

}

.h-100{
    padding: 10px;
    margin-right: 45px;
    border-radius: 10px;
}

.h-100 a{
    color: #EE803D;
}

.card-img-top{
    border-radius: 10px;
}
